/* ----reset ---- */
*{
    margin:0;
    padding:0;
}



/* ---- particles.js container ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  z-index:1;
}



/* New css (7/22/2017)*/


.header{
	position:fixed;
	width:100%;
	height:80px;
	z-index:3;
	border-bottom:1px solid #fff;
	text-align:center;
}



.h-part-1{
	width:50%;
	height:100%;
	float:left;
	transition:1s all;
}
.h-part-2{
	width:50%;
	height:100%;
	float:right;
	transition:0.350s all;
}
.center{
	transform: translateX(-50%);
    margin-left: 50%;
}
.logo{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 120px;
	z-index:2;
	transition:0.350s all;
	background-image:url(../img/logo-header.png);
	background-position: center;
    background-size: contain;
}
.menu-item{
	display:inline-block;
	font-size:1.2em;
	color:white;
	margin:15px;
	line-height:45px;
}
.h-part-1 .menu-item{
	float:right;
}
.h-part-2 .menu-item{
	float:left;
}
.in-header {
	 position: fixed;
    z-index: 3;
    width: 80px;
    height: 80px;
    top: 0px;
}


.site-inf{
	position:absolute;
    top: 400px;
    color: white;
	text-align:center;
	z-index: 2;
}
.si-label{
    padding: 0.5rem 0;
    font-size: 3em;
    white-space: nowrap;
}
.si-description{
    padding: 0.5rem 0;
    font-size: 1.3em;
}



.portfolio .col
{
    margin-bottom: 24px;
}

.portfolio h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.portfolio hr
{
    width: 40px;
    margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
    clear: both;
    text-align: center;
}

.portfolio img
{
    width: 33%;
    display: inline-block;
    float: left;
}






